/* Tab pane with vanilla JS */

.js-tabs {
    max-width: 100%;
}

.js-tabs__header {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.js-tabs__header li {
    display: inline-block;
    float: left;
    margin: 0;
    border: 0;
    font-size: 15px;

}

.js-tabs__header li.float-right{
    float:right;
    margin-right:0;
    margin-left:2px;
}


.js-tabs__title {
    cursor: pointer;
    display: block;
    margin-right: 2px;
    padding: 9px 1.2%;
    transition: all .25s;
    font-size: 14px;
    font-weight: 600;
}

.js-tabs__title:not(.js-tabs__title-active):hover {
    text-decoration: none;
    background-color: #ffffff;
}

.js-tabs__title-active {
    background: #fff;
    border-bottom-color: #fff;
}

/* End tab pane */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 300ms;
}

#sign-preview table td {
    padding: 0;
    text-align: left;
    vertical-align: middle;
}




