#esg-landing_footer{
    margin-bottom: 30px;
}

#sign-preview {
    background-color: #fff;
    border-radius:7px;
    margin-bottom: 30px;
}

.egs_nav-tabs > li > a {
    background: #ffffff63;
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
}

.egs_nav-tabs label{
    float:left;
    position:relative;
    top:8px;
    margin-right:8px;
}

.egs_tab-pane{
    padding:30px;
    text-align: left;
}

.egs_tab-pane h4{
    margin-bottom:20px;
}
.egs_tab-pane ol{
    margin-left: 30px;
    line-height: 33px;
}

.esg_action-bar{
    display: flex;
    justify-content: space-between;
}

.esg_action-bar button {
    width: calc(50% - 6px);
    display: flex;
    flex-direction: row;
    padding: 0;
}

.esg_action-bar img {
    margin-right:5px;
    width:32px;
}

.esg_button{
    border: none;
    justify-content: center;
    border-radius: 2px;
    letter-spacing: .5px;
    box-shadow: none;
    padding: 10px;
    align-items: center;
    cursor: pointer;

}

[type="submit"].esg_button{

    margin-top: 25px;
}

.esg_flex-two-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.esg_flex-two-col input{
    display: flex !important;
    width: calc(50% - 4px) !important;
    margin-bottom: 3px !important;
}

.esg_icon{
    margin-right:6px;
}

#sign-preview table{
    margin-bottom: 30px;
}

#sign-preview table td {
    padding: 0;
    text-align: left;
}

#sign-raw-html {
width: 100%;
background-color: #292d3e;
color: #ffc39f;
border: none;
padding: 20px;
box-sizing: border-box;
line-height: 18px;
border-radius: 7px;
}

#signature-form{
    max-width: 450px;
    margin:auto;
}
